<nav>
    <span>F</span>
    <span>R</span>
    <span>E</span>
    <span>E</span>
    <span style="margin:0px 5px;"> </span>
    <span>T</span>
    <span>E</span>
    <span>X</span>
    <span>T</span>
    <span>-</span>
    <span>A</span>
    <span>U</span>
    <span>D</span>
    <span>I</span>
    <span>O</span>
    <span style="margin:0px 5px;"> </span>
    <span>S</span>
    <span>P</span>
    <span>E</span>
    <span>E</span>
    <span>C</span>
    <span>H</span>
    <span style="margin:0px 5px;"> </span>
    <span>C</span>
    <span>O</span>
    <span>N</span>
    <span>V</span>
    <span>E</span>
    <span>R</span>
    <span>T</span>
    <span>O</span>
    <span>R</span>
</nav>